{% extends 'base.html' %}

{% block content %}


<!--<style>-->
<!--table, th, td {-->

<!--  border-collapse: collapse;-->

<!--}-->
<!--th, td {-->

<!--  text-align: left;-->
<!--}-->

<!--a {-->
<!--  color: hotpink;-->
<!--}-->


<!--</style>-->
        <!-- Output table -->
<center>
    <h6>Items Available</h6>
      <table class="table table-hover table-sm" >


          <thead class="table-primary">
          <tr>
              <th scope="col" style="width:10%; padding-left: 20px" > Items Name</th>
                <th scope="col" style="width:40%">Description </th>
                <th scope="col" style="width:10%">Size</th>
              <th scope="col" style="width:10%" >Brand</th>
              <th scope="col" style="width:10%" >Price</th>
              <th scope="col" style="width:5%" ></th>


              </tr>
          </thead>

          <tbody>
          {% for item in object_list %}
              <tr>
                  <td style="padding-left: 30px;"><a href="{{ item.get_absolute_url  }}" target="_blank">{{ item.name }}</a></td>

                <td>{{ item.description }}</td>
                  <td>{{ item.size }}</td>

                  <td> {{ item.brand|default_if_none:"&nbsp; &nbsp;&nbsp; "}}</td>
                  <td> Rs.   <strong>{{ item.price|default_if_none:"&nbsp; &nbsp; "}} </strong></td>
                  <td> <a href="{{ item.get_absolute_url  }}" target="_blank"><input type="button"  style="margin:0px;" value="Details" class="btn btn-info btn-sm" /></a></td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </center>


{% endblock %}